* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/*intro form screen*/
#enterPlayer {
    position: relative;
    width: 400px;
    max-height: 70vh;
    margin: 10vh auto;
    padding: 50px;
    background-image: url(img/herbe.jpeg);
    border-radius: 10px;
    box-shadow: 2px 2px 6px #000b;
    font-weight: bold;
}
#enterPlayer label {
    background-color: #5f5c;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    color: #232;
}

#choosePlayerButton {
    background-color: #5f5;
    padding: 6px 12px;
    margin: 10px auto;
    color: black;
    border: 1px solid;
    border-color: #9f9 #4c4 #030 #484;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 15px black;
}
#choosePlayerButton:hover {
    background-color: #8f8;
}
#inputPlayer {
    box-shadow: 0 0 15px black;
    margin: 0 auto;
    display: block;
}
/*background of the modal*/
section.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000d;

}
/*design of the player's list below the form*/
#playersList {
    overflow: auto;
    background-color: #5f5b;
    background-image: none;
    font-size: .8em;
    font-weight: normal;
    color: #232;
    box-shadow: 0 0 15px black;
    padding: 10px;
    border: none;
    max-height: 350px;
}
#playersList  > .listTitle {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    display: block;
}


/*general structure of the game board*/
body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    height: 80vh;
    padding: 10px;
    width: 100%;
}

/*design of the cards*/
div {
    border: 1px solid #aaa;
    border-style: solid;
    border-color: #ccc #aaa #888 #ccc;
    box-shadow: 2px 2px 4px #bbb;
    border-width: 1px 2px 2px 1px;
    border-radius: 8px;
    background-size: contain;
    background-image : url(img/herbe.jpeg);
}

/*design of the show button*/
#showAllButton {
    padding: 20px;
    background-color: #585;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: block;
    margin: auto auto 1em 3em;
    width: 20%;
    cursor: pointer;
}
#showAllButton:hover {
    background-color: #7c7;
}
#showAllButton:disabled {
    background-color: #aca;
    color: #ccc;
}

/*design the "storing pairs" area on the right side*/
aside {
    display: flex;
    flex-direction: column;
    grid-row : 1 / 5;
    grid-column : 5 / 6;
    margin-left: 15%;
    border-radius: 8px;
}

aside > div {
    height: 12.5%;
    margin: 5px;
}
aside > div + div {
    margin-top : 10px;
}

/*wining popup message*/
#winDiv {
    position: fixed;
    display: block;
    background-image: none;
    width: 25%;
    left: 28vw;
    top: 28vh;
    /*height: 25vh;*/
    background-color: #eee;
    border: none;
    box-shadow: 0 0 8px #333;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #444;
    letter-spacing: .2em;
}

#winDiv > #retry {
    display: block;
    margin: 20px auto;
    background-color: #afa;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
#winDiv > #retry:hover {
    background-color: #5f5;
}


/*score and record placeholder in the game area*/
#bestScore {
    background-color: #6f6;
    padding: 10px;
    border-radius: 10px;
    color: #222;
    position: absolute;
    right: 10px;
    bottom: 0px;
}
#scoreSpan {
    font-size: .8em;
    background-color: #df3;
    border-radius: 6px;
    padding: 2px 8px;
    margin-left: 20px;
}
